.footer {
    width: 85%;
    margin: 1cm auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--blue);

}

.footer_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 0 20px 0 0;
}


.footer input {
    border: solid var(--blue);
    border-width: 0 0 1px 0;
    font-size: 15px;
    font-weight: 600;
    color: var(--blue);
    text-align: center;
}

.footer_left {
    width: 50%;
    line-height: 55px;
    height: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_print {
    font-size: 17px;
    font-weight: 400;
    color: var(--blue);
    margin: 0 8px;

}


.block_right {
    height: 0.4cm;
    width: 3.8cm;
    float: right;
}

.div1 {
    font-size: 15px;
    font-weight: 400;
    color: black;
    border: 1px solid rgb(142, 142, 142);
    width: 7.5cm;
    height: 0.6cm;
    line-height: 22px;
    padding: 1px 0 0 0;
    /* overflow: hidden; */
}

.div2 {
    font-size: 12px;
    font-weight: 400;
    color: black;
    border: 1px solid rgb(142, 142, 142);
    width: calc(7.5cm - 16px);
    height: 1.7cm;
    line-height: 16px;
    padding: 0 8px;
}

.parent {
    width: 7.5cm;
    height: 2.4cm;
    margin: 33px 10px 0 0;
    position: relative;

}

.print_flex {
    display: flex;
    align-items: baseline
}

.signature {
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 13px;
    color: black;
}